/* key is here     */


@font-face {
	font-family:                'Source Sans Pro';
font-style: normal;





	font-weight:300;


	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),    url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdo.woff) format('woff');
}
