@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uUsoa5M_tv7IihmnkabC5XiXCAlXGks1WZzm18PYk_FLHcpw&skey=ec2e092f18395a78&v=v28) format('woff2');
  unicode-range: U+48, U+65, U+6c, U+6f;
}
